<div class="columns is-desktop">
  <div class="column">

      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Registro de Usuario Vendedor</p>
        </header>
        <section class="modal-card-body"  [formGroup]="registroForm" >
          <!-- name ... -->
          <div class="field">
              <label class="label">Nombre Completo</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-success" type="text"
                placeholder="Juanito Oso" value=""
                formControlName="user"
                required  9 autofocus>
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              <p class="help is-success">This username is available</p>
            </div>
            <!--password-->
            <div class="field">
                <label class="label">Escribe una Contraseña</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" type="password" placeholder="hola1234" value=""
                    formControlName="pass"
                    maxlength="4"
                    minlength="4"
                    required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <p class="help is-success">Parece una Buena Contraseña</p>
              </div>
              <!--repite-->
              <div class="field">
                  <label class="label">Repite tu Contraseña</label>
                  <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="password" value=""
                    formControlName="passTwo"  maxlength="4"   minlength="4" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-key"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </div>
                  <p class="help is-success">Ok! Nunca lo Olvides.</p>
                </div>

        </section>
        <footer class="modal-card-foot">
          <button  *ngIf="passMatch" (click)="newUserdata($event)" type="button" class="button is-primary">Registrar Datos</button>
          <button  *ngIf="passMatch != true" type="button"  class="button is-primary" disabled>Registrar Datos</button>
       </footer>


  </div>
  </div>
