
.pupConfirmer{
  background: rgba(0, 0, 0, 0.9);
 color: #fff;
 position: fixed;
 top: 0;
 left: 0;
 height: 100vh;
 width: 100vw;
 transition: all .5s;

}
.content-modal-delete{
  width: 40%;
  height: 66%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  text-align: left;
}
.content-modal-edit{
  width: 40%;
  min-height: 300px;
  /*height: 70%;*/
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  }

    .modal-card{
      margin-top: 5%;
      color: black;
    }

    input{
      text-align: left;
      color: black;
      }
    input:focus{
      border-left: 7px solid  #00d1b2;
      font-size: 15pt;
      height: 40px;
    }
    .fas{
      margin-right: 10%;
    }
.close:hover{
  background-color: red;
  color: white;
}
.fa-edit:hover {
  text-align: center;
  border-bottom: solid 2px;
  border-color:  orange;
  color: orange;
}
.fa-money-bill-alt:hover{
  border-bottom: solid 2px;
  border-color:  #00d1b2;
  color:  #00d1b2;
  }
  .celda-numero{
    text-align: right;
    width: 8%;
  }
tfoot{
  background-color: #dddddd;
}
thead{
  text-align: center;
  background-color: #00d1b2
}
fa-dollar-sign{
  text-align: left;
}
.signo{
  text-align: right;
  width: 3%;
}
.deuda-total{
  text-align: right;
}
.tr-body:hover{
  background-color: #f5f5f5;
  border-right: 7px solid  #00d1b2;
}
.btn-acciones{
    text-align: center;
}
.datoVacio{
  color: rgba(0,0,0,0.2);
}
.fa-toggle-on:hover{
  color: #00d1b2;
}

#total{
  font-size: 15pt;
  font-weight: bold;
  color: black;
}
.is-danger, .is-success{
  height: 40px;
}
.deudatotal{
  font-size: 15pt;
}

.message1{
  border-left: 7px solid  #00d1b2;
  border-right:  7px solid  #00d1b2;
   position: fixed;
   top: 30%;
   left: 35%;
   transition: all .5s;
    width: 30%;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-name: slidein;
}
.message1{
  border-left: 7px solid  #ffdd57;
  border-right:  7px solid  #ffdd57;
   position: fixed;
   top: 30%;
   left: 35%;
   transition: all .5s;
    width: 30%;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-name: slidein;
}
.message3{
  border-left: 7px solid  #ff3860;
  border-right:  7px solid  #ff3860;
   position: fixed;
   top: 30%;
   left: 35%;
   transition: all .5s;
    width: 30%;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-name: slidein;
}
@keyframes slidein {
  from {
    opacity: 1
  }
  to {
  opacity: 0;
  font-size: 2pt;
  width: 10%;
  }
}

.help{
  height: 5px;
  margin-top: 3px;
  }
.fa-exclamation-circle{
  margin-right: 2px;
  }
.fa-credit-card .fa-handshake{
    margin-right: 3px;
   }
#iconpeso{
  color: #00d1b2;
}
.divBotones{
  width: 50%;
}
.is-disable{
  border-radius: solid 2px grey;
  border-bottom: solid 2px black;
  width: 50%;
}

.is-acciones{
  border-radius: solid 0px red;
  border-bottom: solid 2px  #00d1b2;
  width: 50%;
  color: #00d1b2;
}
#edit:hover {
  border-radius: solid 1px blue;
  border-bottom: solid 4px #00d1b2;
  color: #00d1b2;
}

.is-active-cancel{
    border-radius: solid 1px #f5f5f5;
    border-bottom: solid 2px #ff3860;
    width: 50%;
    color: #ff3860;
}
#dele:hover{
  border-radius: solid 1px #f5f5f5;
  border-bottom: solid 4px #ff3860;
  color: #ff3860;
  }

.modal-card-foot{
    font-size: 20pt;
}
.is-disable2{
  border-radius: solid 2px grey;
  border-bottom: solid 2px black;
  width: 100%;
}

.is-acciones2{
  border-radius: solid 0px red;
  border-bottom: solid 2px  #00d1b2;
  width: 100%;
  color: #00d1b2;
}
.vacio{
 background-color: #fff5f7
}
  vacio:hover{
    background-color: #fff5f7 ;
    border-right: 7px solid  #ff3860;
}
